extends ./layout.jade

block content
  #hero
    ul#we-build
      li
        span We Build
      li
        span Websites
      li
        span Apps
      li
        span Robots
      li
        span Community
  main
    a(name='about')
    #sec-about.section
      .container
        h1 Test the ideas
        p
          strong
            em Ideas are king, but not all of them are royalty material.
        p Still, it's important to find out. You really don't know what kind of idea you've got until it's been tested. TABLEFLIP encourages a creative working relationship where all the things are tried out to see what works best.
        
        blockquote
          p The only way of discovering the limits of the possible is to venture a little way past them into the impossible.
          p Arthur C. Clarke, "Profiles of The Future", 1961
          
        p Stuff that doesn't work gets pruned and you're left with an awesome simple thing that does something new and interesting.
        p What if you could ship a thing after a week? How about every week? Well, this is what tableflip does...and then you can change direction of the project, reprioritise, or continue with the plan.
        
    a(name='portfolio')
    #sec-portfolio.section
      .container
        h1 Portfolio
        p We build amazing websites and apps and things.
        p Need help building something?
        a.btn(href='#contact') → Get in touch
  
    a(name='kitmapper')
    #piece-kitmapper.piece.light.closed
      .container
        include:remarkable(html=true) kitmapper.md
    
    a(name='nodebots')
    #piece-nodebots.piece.dark.closed
      .container
        include:remarkable(html=true) nodebots.md
        
    a(name='driift')
    #piece-driift.piece.light.closed
      .container
        include:remarkable(html=true) driift.md
        
    a(name='svs')
    #piece-svs.piece.dark.closed
      .container
        include:remarkable(html=true) svs.md
        
    a(name='intimate-objects')
    #piece-intimate-objects.piece.dark.closed
      .container
        include:remarkable(html=true) intimate-objects.md
        
    a(name='school-of-wok')
    #piece-sow.piece.light.closed
      .container
        include:remarkable(html=true) school-of-wok.md
        
    a(name='sam-labs')
    #piece-sam.piece.light.closed
      .container
        include:remarkable(html=true) sam-labs.md
        
    a(name='nodeschool')
    #piece-nodeschool.piece.dark.closed
      .container
        include:remarkable(html=true) nodeschool.md
        
    a(name='polestar')
    #piece-polestar.piece.light.closed
      .container
        include:remarkable(html=true) polestar.md
        
    a(name='meteor')
    #piece-meteor.piece.light.closed
      .container
        include:remarkable(html=true) meteor.md
        
    a(name='contact')
    #sec-contact.section
      .container
        h1 Contact
        ul#mugshots
          li
            a(href='https://github.com/alanshaw')
              img(src='https://en.gravatar.com/avatar/8ca838dbb449a1359b5a4eadd26abb42')
          li
            a(href='https://github.com/olizilla')
              img(src='https://en.gravatar.com/avatar/1114a99d8da01f890f39c02bd2b1bfc3')
        p
          | Get in contact with us for any reason. Fire an email to 
          a(href='mailto:hello@tableflip.io') hello@tableflip.io
          |  and we'll mail you back as soon as we can.
        p
          a.btn(href='mailto:hello@tableflip.io') → Email us
    a(name='address')
    #sec-address.section
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.7772475944635!2d-0.06762329999995409!3d51.46224610000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603bcd574cb6b%3A0x7ff8ee0aab796340!2s1a%2C+1+E+Dulwich+Rd%2C+London+SE15!5e0!3m2!1sen!2suk!4v1415827434779', frameborder='0', style='border:0')
      .container.vcard
        p.adr
          strong Address: 
          span.street-address Unit 1a, 1 East Dulwich Road
          | , 
          span.locality London
          | , 
          span.postal-code SE22 9BA
        p
          a.btn(href='https://www.google.co.uk/maps/place/1+E+Dulwich+Rd,+London+SE15/@51.4622542,-0.0675658,17z/data=!4m7!1m4!3m3!1s0x487603bcd574cb6b:0x275451ab9158a674!2s1+E+Dulwich+Rd,+London+SE15!3b1!3m1!1s0x487603bcd574cb6b:0x275451ab9158a674', target='_blank') → View on Google Maps

block scripts
  script.
    (function () {
      var html = document.getElementsByTagName('html')[0]
      var scrolled = false
      setTimeout(function () { window.onscroll() })
      function addClass (el, className) {
        el.className = el.className.split(' ').concat(className).join(' ')
      }
      function removeClass (el, className) {
        var classes = el.className.split(' ')
        el.className = classes.filter(function (c) {
          return c != className
        }).join(' ')
      }
      window.onscroll = function () {
        if (window.scrollY > 0 && !scrolled) {
          addClass(html, 'scrolled')
          scrolled = true
        } else if (window.scrollY <= 0 && scrolled) {
          removeClass(html, 'scrolled')
          scrolled = false
        }
      }
      var pieces = document.querySelectorAll('.piece')
      ;[].forEach.call(pieces, function (piece) {
        piece.addEventListener('click', function (e) {
          if (piece.className.indexOf('closed') > -1) {
            piece.className = piece.className.replace('closed', 'open')
          }
        })
      })
    })()
